/* CSS declarations go here */
body {
    padding-top: 10px;
}

footer {
    text-align: center;
}

.title {
    font-size: 200%;
}

.breadcrumb {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 120%;
}

button {
    margin-right: 5px;
}

td.center, th.center {
    text-align: center;
}

tr.teamRow {
    cursor: pointer;
}

tr.resourceRow label, tr.resourceRow label input {
    cursor: pointer;
    font-weight: normal;
}

.table-striped tr.resourceRow.occupied {
    background: #ffd6c6;
}

